<p>acerca works!</p>

<div class="row">
    <div class="col-3" *ngFor="let alumno of alumnos">
            <div class="card mt-4 ml-1" style="width: 18rem;">
                    <img src="http://lorempixel.com/400/200/city/" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{alumno.nombre}}</h5>
                      <p class="card-text">{{alumno.email}}</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>        
    </div>

</div>

